nav{
    /* margin-top: 70px; */
    height: 70px;
    display: flex;
    background-color: #bfbcbc53;
}

.nav-contain{
    transform: translateX(-5%);
    transform:translateY(-93%)
}
.nav-cont{
    transform: translateX(-155%);
    transform:translateY(-0%);
    margin-right: 5;
}

.nav-link{
    text-transform: uppercase;
    color: var(--body-text-color);
    font-weight: bold;
}
.site-logo{
    margin-top: 50px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--tertiary-color);
    color: var(--body-text-color);
    font-weight: bold; 
    font-size: 19px; 
    align-items: center;
    margin-left: 1px;
}

