<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <img src="https://imgs.search.brave.com/IJh_efcwD25BgrYcAuOMH387nfVKjlkzQ67N670IHRs/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvNzYx/OTQzMzUvcGhvdG8v/Y2l0eS1za3lsaW5l/LXNlZW4tZnJvbS1w/ZW5uLXZhbGxleS1w/YXJrLXdpdGgtaW5k/aWFuLXN0YXR1ZS1p/bi1mb3JlZ3JvdW5k/LWthbnNhcy1jaXR5/LW1pc3NvdXJpLmpw/Zz9zPTYxMng2MTIm/dz0wJms9MjAmYz1B/Q3RKNlk0d1l5ZFFQ/UFF6NEZyMkhxYnVt/Q0wzdy1yRWZTNWla/QTdVLW84PQ" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-sucess text-center">Featured</small>
                    <small class="bg-light text-danger text-center">Views-200,4898</small>
                    <small class="bg-light text-danger text-center">LAST UPDATED - SEP 23,2023</small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore accusamus incidunt aperiam, consequatur odit sit. Quaerat, iste quibusdam! Voluptatum dolorum 
                        unde ipsa vel ad! Non deserunt veritatis magnam dolorem blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id reiciendis quia alias nemo minima 
                        sed consectetur dolore suscipit corporis qui accusantium dignissimos quas error ut maiores, voluptates quo, at expedita. Lorem ipsum dolor sit amet consectetur, 
                        adipisicing elit. Numquam similique et quae odio voluptatibus possimus, sunt in laudantium, sint omnis expedita, aspernatur cumque mollitia dicta veritatis facilis
                         ipsum. Porro, corrupti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium et voluptate aliquid placeat ad deserunt hic quasi incidunt adipisci
                          atque excepturi, autem eum. Repudiandae sunt eum similique. Voluptatibus, rem repellat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, saepe facilis 
                          at corporis numquam quas suscipit, similique dolorum mollitia, ipsam maxime veritatis dignissimos culpa expedita? Dolorem iusto ullam tempora aliquid. Lorem ipsum dolor 
                          sit amet consectetur adipisicing elit. Libero natus assumenda est amet error aut reprehenderit totam vitae, maiores, voluptates blanditiis? Non, ad debitis! Pariatur commodi 
                          eveniet obcaecati culpa ex? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid qui corporis recusandae molestias tempora deserunt necessitatibus nihil quasi
                           consectetur voluptatum suscipit corrupti est deleniti, fugit hic in dolor eligendi odio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod a aspernatur quae ipsa
                            corporis omnis, cumque, iste expedita in commodi reprehenderit deleniti aliquam dignissimos, amet laboriosam natus fuga dolore distinctio?</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comments-list></app-comments-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
