<div class="container ">
    <div class="align">
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card" routerLink="/categories">
                    <div class="card-body text-center bg-secondary-theme">
                        <!-- <h1><i class="fas fs-clipboard-list"></i></h1> -->
                        <span class='bi bi-calendar'></span>

                        <h2>Category</h2>
                        <p>Manage Your Category Details Here.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card" routerLink="/allposts">
                    <div class="card-body text-center bg-secondary-theme">
                        <!-- <h1><i class="fas fs-clipboard-list"></i></h1> -->
                        <span class='bi bi-calendar'></span>

                        <h2>Posts</h2>
                        <p>Manage your Post Details Here.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>