<div class="card shadow-effect">
    <img src="https://imgs.search.brave.com/ntyd02XgS0Ean5Rh5Ex63lJXpKRnBt91veEFfZ0s_E8/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTI5/Mzg0Nzc5MS9waG90/by9tYXR1cmUtZmF0/aGVyLWFuZC1tdWx0/aS1ldGhuaWMtZGF1/Z2h0ZXItZW5qb3lp/bmctbWlzdHktZm9y/ZXN0LWZyb20tYnJp/ZGdlLmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz1naFpPZXh6/QmtQaGotRFl1R0NK/WThkTWVueVRscmxG/X1hyTzI4dzhvT1hB/PQ" class="card-img-top" alt="">
    <div class="card-body shadow-effect">
        <small class="bg-light text-center">Design</small>
        <small class="bg-light text-center ml-3">Featured</small>
        <small class="bg-light text-center ml-3">Views - 299,450</small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti ipsam rerum inventore, hic dolor commodi. Quae repellendus soluta officia nisi, iusto aperiam odit, tempora nostrum alias animi, autem quas optio?</p>
    </div>
</div>
